<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/nav.css">
    <link rel="stylesheet" href="../../static/css/role5/user_list.css">

    <script src="../../static/js/jquery-3.1.1.min.js"></script>
    <script src="../../static/js/role5/user_list.js"></script>
    <script src="../../static/js/parse.js"></script>
    <title>UserList</title>
</head>
<body>
<!--头部导航栏-->
<ul id="navTop">
    <li><a href="user_list.html">首页</a></li>
    <li><a href="adduser.html">添加用户</a></li>
    <li class="search"><input type="text" placeholder="输入ID查找用户"> <img id="search_id" src="../../static/img/search.png" alt=""></li>
<!--    <li id="un_info"><img src="../../static/img/head.jpg" alt=""><a href="#">张小宝</a><button id="loginout">注销</button></li>-->


</ul>
<div class="user_list_body" >
    <div class="user_list">
        <div class="user_list_l">
            ID:<span>2</span> 角色：基层工作人员 姓名：张小宝 联系电话：1825693965
        </div>
        <div class="user_list_r">
            <button class="change">修改</button>
            <button class="delete">删除</button>
        </div>


    </div>

    <div class="user_list">
        <div class="user_list_l">
            ID:<span>1</span> 角色：基层工作人员 姓名：张小宝 联系电话：1825693965
        </div>
        <div class="user_list_r">
            <button class="change">修改</button>
            <button class="delete">删除</button>
        </div>


    </div>

    <div class="user_list">
        <div class="user_list_l">
            ID:<span>1</span> 角色：基层工作人员 姓名：张小宝 联系电话：1825693965
        </div>
        <div class="user_list_r">
            <button class="change">修改</button>
            <button class="delete">删除</button>
        </div>


    </div>

    <div class="user_list">
        <div class="user_list_l">
            ID:<span>1</span> 角色：基层工作人员 姓名：张小宝 联系电话：1825693965
        </div>
        <div class="user_list_r">
            <button class="change">修改</button>
            <button class="delete">删除</button>
        </div>


    </div>


    <div class="user_list">
        <div class="user_list_l">
            ID:<span>1</span> 角色：基层工作人员 姓名：张小宝 联系电话：1825693965
        </div>
        <div class="user_list_r">
            <button class="change">修改</button>
            <button class="delete">删除</button>
        </div>


    </div>


    <div class="user_list">
        <div class="user_list_l">
            ID:<span>1</span> 角色：基层工作人员 姓名：张小宝 联系电话：1825693965
        </div>
        <div class="user_list_r">
            <button class="change">修改</button>
            <button class="delete">删除</button>
        </div>


    </div>

    <div class="user_list">
        <div class="user_list_l">
            ID:<span>1</span> 角色：基层工作人员 姓名：张小宝 联系电话：1825693965
        </div>
        <div class="user_list_r">
            <button class="change">修改</button>
            <button class="delete">删除</button>
        </div>


    </div>
    <div class="user_list">
        <div class="user_list_l">
            ID:<span>1</span> 角色：基层工作人员 姓名：张小宝 联系电话：1825693965
        </div>
        <div class="user_list_r">
            <button class="change">修改</button>
            <button class="delete">删除</button>
        </div>


    </div>
    <div class="user_list">
        <div class="user_list_l">
            ID:<span>1</span> 角色：基层工作人员 姓名：张小宝 联系电话：1825693965
        </div>
        <div class="user_list_r">
            <button class="change">修改</button>
            <button class="delete">删除</button>
        </div>


    </div>
    <div class="user_list">
        <div class="user_list_l">
            ID:<span>1</span> 角色：基层工作人员 姓名：张小宝 联系电话：1825693965
        </div>
        <div class="user_list_r">
            <button class="change">修改</button>
            <button class="delete">删除</button>
        </div>


    </div>
    <div class="user_list">
        <div class="user_list_l">
            ID:<span>1</span> 角色：基层工作人员 姓名：张小宝 联系电话：1825693965
        </div>
        <div class="user_list_r">
            <button class="change">修改</button>
            <button class="delete">删除</button>
        </div>


    </div>
    <div class="user_list">
        <div class="user_list_l">
            ID:<span>1</span> 角色：基层工作人员 姓名：张小宝 联系电话：1825693965
        </div>
        <div class="user_list_r">
            <button class="change">修改</button>
            <button class="delete">删除</button>
        </div>


    </div>
    <div class="user_list">
        <div class="user_list_l">
            ID:<span>1</span> 角色：基层工作人员 姓名：张小宝 联系电话：1825693965
        </div>
        <div class="user_list_r">
            <button class="change">修改</button>
            <button class="delete">删除</button>
        </div>


    </div>
    <div class="user_list">
        <div class="user_list_l">
            ID:<span>1</span> 角色：基层工作人员 姓名：张小宝 联系电话：1825693965
        </div>
        <div class="user_list_r">
            <button class="change">修改</button>
            <button class="delete">删除</button>
        </div>


    </div>
    

</div>
<!--底部导航栏-->
<div id="navBottom">
    <div><p>Copyright© ZY</p></div>
</div>
<script>
    $(document).ready(function () {
        GetUserInfo();
        //用户注销事件
        UserLogout();
        // 动态加载所有用户信息
        function LoadInfo(){
            $.ajax({
                url:'http://resource.natapp1.cc/user/list',
                type:"post",
                data:{},
                success:function (msg) {
                    var htmlStr = '';
                    var users = msg.data;
                    for(var i in users){
                        htmlStr += '<div class="user_list"> <div class="user_list_l">ID:<span>'+users[i].uid;
                        htmlStr += '</span> 角色：'+GetRole(users[i].unitId)+' 姓名：'+users[i].uname;
                        htmlStr += ' 联系电话：' + users[i].utel + '</div><div class="user_list_r">'
                        htmlStr += '<button class="change">修改</button><button class="delete">删除</button></div></div>';
                    }
                    $(".user_list_body").html(htmlStr);
                }
            })
        }
        LoadInfo();

        // 管理员更改信息
        // 动态元素绑定事件
        $(".user_list_body").on('click',".change",function () {
            var $user_list_l = $(this).parent(".user_list_r").parent(".user_list").find(".user_list_l");
            var id = $user_list_l.find("span").text();
            var user_id = {
                id:id
            };
            //sessionStorage 存储
            sessionStorage.setItem("user_id",JSON.stringify(user_id));
            window.location.href = "../../templates/role5/update_info.html";
        });
        // 管理员删除用户
        $(".user_list_body").on('click',".delete",function () {
            var $user_list_l = $(this).parent(".user_list_r").parent(".user_list").find(".user_list_l");
            var id = $user_list_l.find("span").text();
            $.ajax({
                url:'http://resource.natapp1.cc/user/deleteUser',
                type:'post',
                data:{
                   uId:id
                },
                success:function (msg) {
                    if(msg.code==0){
                        alert('删除成功')
                        LoadInfo();
                    }else{
                        alert('删除失败')
                    }
                }
            })
        });

        $("#search_id").click(function () {
            var id = $(".search input").val();
            $.ajax({
                url:'http://resource.natapp1.cc/user/user',
                type:'get',
                data:{
                    uId:id
                },
                success:function (msg) {
                    var user_info = msg.data;
                    var htmlStr = '';
                    htmlStr += '<div class="user_list"><div class="user_list_l">ID:<span>';
                    htmlStr += user_info.uid + '</span> 角色：'+GetRole(user_info.unitId)+'姓名：';
                    htmlStr += user_info.uname + '联系电话：'+user_info.utel;
                    htmlStr += '</div> <div class="user_list_r"> <button class="change">修改</button> <button class="delete">删除</button> </div> </div>'
                    $(".user_list_body").html(htmlStr);
                }


            })
        })

    })
</script>
</body>
</html>