.user_list_body{
    margin: 63px 25% 63px 25%;
    width: 50%;
}
.user_list{
    height: 60px;
    margin-top: 3px;
    text-align: center;
    border:1px solid #3da9d9;
    border-radius: 5px;
}
.user_list:hover{
    box-shadow:5px 5px 5px 5px #888888 ;
}
.user_list_l{
    float: left;
    width: 60%;
    margin-top: 15px;
}
.user_list_r{
    float: left;
    width: 40%;
    margin-top: 15px;
}
.user_list_r button{
    font-family: KaiTi;
    /*background-color: #4fc2ea;*/
    font-size: 18px;
    height: 30px;
    width: 60px;
    color: white;
    margin-left: 15px;
    border-radius: 5px;
    border: 1px solid white;


}
.change{
    background-color: #0e9292;
}
.delete{
    background-color: red;
}