<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/nav.css">
    <link rel="stylesheet" href="../../static/css/role2/list_apply.css">

    <script src="../../static/js/jquery-3.1.1.min.js"></script>
    <script src="../../static/js/parse.js"></script>
    <script src="../../static/js/role2/list_apply.js"></script>
    <title>ListApply</title>
</head>
<body>
<!--头部部分-->
<ul id="navTop">
    <li><a href="list_apply.html">首页</a></li>
    <li><a id='unaudit' href="#">未审核</a></li>
    <li><a id="pass" href="#">已通过</a></li>
    <li><a id='unpass' href="#">未通过</a></li>
<!--    <li id="un_info"><img src="../../static/img/head.jpg" alt=""><a href="#">张小宝</a><button id="loginout">注销</button></li>-->


</ul>

<!--中间部分-->
<!--中间部分-->
<div class="div_body">
    <div class="list">
        <ul class="list_ul">
            <li>地点：<span>四川省南充市嘉陵区李渡中学</span></li>
            <li>作业类型：<span>用火作业</span></li>
            <li>作业开始时间：<span>2020-18-49 12:00</span></li>
            <li class="reqId">作业ID：<span>1</span></li>
            <li class="status">作业状态：<span>未通过</span></li>
        </ul>
    </div>

    <div class="list">
        <ul class="list_ul_unpass">
            <li>地点：<span>四川省南充市嘉陵区李渡中学</span></li>
            <li>作业类型：<span>用火作业</span></li>
            <li>作业开始时间：<span>2020-18-49 12:00</span></li>
            <li>作业ID：<span>1</span></li>
            <li>作业状态：<span>未通过</span></li>
        </ul>
    </div>

    <div class="list">
        <ul class="list_ul_unaudit">
            <li>地点：<span>四川省南充市嘉陵区李渡中学</span></li>
            <li>作业类型：<span>用火作业</span></li>
            <li>作业开始时间：<span>2020-18-49 12:00</span></li>
            <li>作业ID：<span>1</span></li>
            <li>作业状态：<span>未审核</span></li>
        </ul>
    </div>

</div>
<br>
<br>
<br>
<br>
<!--底部导航栏-->
<div id="navBottom">
    <div><p>Copyright© ZY</p></div>
</div>
<script>

</script>

</body>
</html>