body{
    margin: 0px;
    font-family: KaiTi;
    background-image: url("../img/bg.png");
}
/*导航栏*/
#navTop{
    position: fixed;
    top:calc(0vh);
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    background: #3da9d9;
    overflow: hidden;

}

#navTop li{
    display: inline;
    height: 60px;
    padding:0 10px 0 10px ;
}

#navTop li a{
    text-decoration:none;
    height: 60px;
    line-height: 60px;
    color: #ffffff;
    font-family: KaiTi;
    font-size: 16px;
}

#navTop li a:hover{
    background: #1e84d9;
}

/*底部导航栏*/
#navBottom{
    /*display: none;*/

    position: fixed;
    bottom: calc(0vh);
    /*top:calc(100vh - 60px);*/
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background: #3da9d9;
    overflow: hidden;
}

#navBottom div{
    text-align: center;
    list-style: none;
    display: inline;
    height: 60px;
    margin: 0 auto;
    vertical-align: middle;
}

#navBottom div p{
    font-family: KaiTi;
    font-size: 16px;
    color: #ffffff;
    padding-top: 8px;
}

/*用户信息*/
#un_info{
    position: fixed;
   right: calc(0vh);
}

#un_info img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    vertical-align: middle;
}
#un_info a{
    font-size: 20px;
    color: white;
    font-family: KaiTi;
    margin-left: 10px;
}
#un_info button{
    width: 60px;/*设置按钮宽度*/
    height: 30px;/*设置按钮高度*/
    color:white;/*字体颜色*/
    background-color: #2885ad;/*按钮背景颜色*/
    border-radius: 10px;/*让按钮变得圆滑一点*/
    border-color: #3da9d9;
    /*border-width: 0;!*消去按钮丑的边框*!*/
    margin-left: 10px;
    /*outline: none;!*取消轮廓*!*/
    font-family: KaiTi;/*字体设置为楷体*/
    font-size: 16px;/*设置字体大小*/
    text-align: center;/*字体居中*/
    cursor: pointer;/*设置鼠标箭头手势*/


}

#un_info button:hover{/*鼠标移动时的颜色变化*/
    background-color: #0d3f4b;
}

.search input{
    border-radius:3px;
    border: white solid 1px;
}
.search img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    vertical-align: middle;
}
.search img:hover{
    width: 35px;
    height: 35px;
}
