<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../static/lib/btsp-fileinput/css/fileinput.min.css" rel="stylesheet" type="text/css" />
    <link href="../../static/lib/btsp-fileinput/css/fileinput-rtl.min.css" rel="stylesheet" type="text/css" />


    <script src="../../static/js/jquery-3.1.1.min.js"></script>

    <script type="text/javascript" src="../../static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/lib/btsp-fileinput/js/fileinput.min.js"></script>
    <script type="text/javascript" src="../../static/lib/btsp-fileinput/js/locales/zh.js"></script>
    <title>fileload</title>
    <style>
        .pic_display img{
            width: 100%;
        }
    </style>
</head>
<body>
<div>
    <!--图片回显区域-->
    <div class="pic_display">
    </div>

    <!--控件-->

    <div class="container-fluid">
        <form id="form" action="http://resource.natapp1.cc/upload_file" method="post" enctype="multipart/form-data">
            <div class="row form-group">
                <label class="col-md-4">图片上传:</label>
                <div class="col-sm-12">
                    <input id="input-id" name="file" multiple type="file" data-show-caption="true">
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    function initFileInput(ctrlName) {
        var control = $('#' + ctrlName);
        control.fileinput({
            language: 'zh', //设置语言
            uploadUrl: "http://resource.natapp1.cc/upload_file", //上传的地址
            allowedFileExtensions: ['jpg', 'gif', 'png','mp4'],//接收的文件后缀
            //uploadExtraData:{"id": 1, "fileName":'123.mp3'},
            uploadAsync: false, //默认异步上传
            showUpload: true, //是否显示上传按钮
            showRemove : true, //显示移除按钮
            showPreview : true, //是否显示预览
            showCaption: true,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            dropZoneEnabled: true,//是否显示拖拽区域
            minImageWidth: 50, //图片的最小宽度
            minImageHeight: 50,//图片的最小高度
            maxImageWidth: 1000,//图片的最大宽度
            maxImageHeight: 1000,//图片的最大高度
            maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
            minFileCount: 0,
            maxFileCount: 10, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount:true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
            window:true,
            uploadExtraData: function(previewId, index) {   //额外参数的关键点,没有额外参数可以注释掉
                data = {
                    // uId:uId
                }
                return data;
            }

        }).on('filepreupload', function(event, data, previewId, index) {     //一个上传中处理函数
            var form = data.form, files = data.files, extra = data.extra,
                response = data.response, reader = data.reader;
            console.log('文件正在上传');
        }).on("fileuploaded", function (event, data, previewId, index) {    //一个文件完成处理函数
            //后端下载数据成功后返回前端文件路径，前端解析路径进行文件回显（图片可使用img标签，视频可以使用视频播放插件，这里演示的是图片回显）
            var htmlStr = ''
            htmlStr +=  '<img class="fileUrls" src="'+data.response.data+'" alt="">';
            $(".pic_display").append(htmlStr);
            console.log('文件上传成功+++++！'+data);

        }).on('fileerror', function(event, data, msg) {  //一个文件上传失败处理函数
            console.log('文件上传失败！'+data.id);


        })
    }

    $(function () {
        initFileInput("input-id");
    })
</script>
</body>
</html>